<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eightnineapps.coinly">

    <application
        android:name=".classes.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/coinly_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/coinly_app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.eightnineapps.coinly.views.fragments.profiles.little.RevokeCoinsFragment" />
        <activity android:name="com.eightnineapps.coinly.views.fragments.profiles.little.GiveCoinsFragment" />
        <activity android:name="com.eightnineapps.coinly.views.activities.profiles.EditProfileActivity" />
        <activity android:name="com.eightnineapps.coinly.views.activities.profiles.LittleProfileHost" />
        <activity android:name="com.eightnineapps.coinly.views.activities.profiles.BigProfileHost" />
        <activity android:name="com.eightnineapps.coinly.views.activities.profiles.LinkupProfileActivity" />
        <activity android:name="com.eightnineapps.coinly.views.activities.profiles.CreateProfileActivity" />
        <activity
            android:name="com.eightnineapps.coinly.views.activities.startup.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.eightnineapps.coinly.views.activities.startup.HomeActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>